{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": [
		"eslint:recommended",
		"plugin:flowtype/recommended"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module"
    },
    "plugins": [
        "flowtype"
    ],
    "rules": {
        "indent": [
            "error",
            "tab"
        ],
        "linebreak-style": [
            "error",
            "windows"
        ],
        "quotes": [
            "error",
            "double"
        ],
        "semi": [
            "error",
            "always"
        ]
    }
}